@charset "UTF-8";

@media(max-width:900px) {
    .cabecalho{
        border: solid red;
        font-size: .5em;
    }
    .navegacao{
        border: solid white;
        font-size: .5em;
    }
    .container{
        border: solid orange;
        font-size: .5em;
    }
    .container1,  .container2, .container3, .container4{
        border: solid blueviolet;
        height: 100VH;
    }
}
